@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Outfit:wght@100;200;300;400&family=Source+Code+Pro:wght@200&family=Source+Sans+Pro:wght@300&display=swap');
/* box-shadow: 0vh 0vh 5vh 1vh #0f0d1d4d; */
:root{
    --Very-dark-blue: hsl(217, 54%, 11%); /*main BG*/
    --Very-dark-blue: hsl(216, 50%, 16%); /*card BG*/
    --Very-dark-blue: hsl(215, 32%, 27%); /*line*/
    --White: hsl(0, 0%, 100%);
}
*{
    padding: 0; margin: 0;
    box-sizing: border-box;
    border: none; outline: none;
    text-decoration: none;
}

html{
    font-family: 'Outfit', sans-serif;
    font-size: 62.5%;
    overflow-x: hidden;
    overflow-y: hidden;
}
h1{
    font-weight: 600;
}
p{
    font-weight: 400;
}

.container-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.card{
    display: flex;    
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 550; width: 350px;
}

.attribution { 
    font-size: 1.8vh;
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}






/* 
## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Soft blue: hsl(215, 51%, 70%)
- Cyan: hsl(178, 100%, 50%)

### Neutral

- Very dark blue (main BG): hsl(217, 54%, 11%)
- Very dark blue (card BG): hsl(216, 50%, 16%)
- Very dark blue (line): hsl(215, 32%, 27%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size (paragraph): 18px

### Font

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 300, 400, 600 */
