@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Outfit:wght@100;200;300;400&family=Source+Code+Pro:wght@200&family=Source+Sans+Pro:wght@300&display=swap');

:root{
    /*Primary*/
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);

    /*Neutral*/
    --Very-dark-blue-bg: hsl(215, 51%, 15%); /*main bg*/
    --Very-dark-blue-card: hsl(216, 50%, 16%);/*card bg*/
    --Very-dark-blue-line: hsl(215, 32%, 27%);/*Line*/
    --White-title: hsl(0, 0%, 100%);
    --color-p: hsl(0, 0%, 65%);
    --blue-light-color-p: hsl(180, 87%, 65%);
}

*{
    background-color: var(--Very-dark-blue-bg);
    padding: 0; margin: 0; 
    border: none; outline: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
}

html{
    font-size: 62.5%;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15vh;
}

main .card{
    position: relative;
    width: 20vw;
    height: 70vh;
    background-color: var(--Very-dark-blue-card);
    border: 10px solid rgba(12, 11, 20, 0.2);
    box-shadow: 0vh 0vh 5vh 1vh #0f0d1d4d;
}

.card h2{
    background-color: var(--Very-dark-blue-card);
    font-size: 1.8rem;
    color: var(--White-title);
    text-align: center;
}

.card p{
    background-color: var(--Very-dark-blue-card);
    font-family: 'Outfit 300', sans-serif;
    font-size: 1.4rem;
    color: var(--color-p);
    text-align: center;
}

main .card .value-coin p{
    color: var(--blue-light-color-p);
}

.card-image img{
    position: relative;
    display: block;
    width: 19vw;
    height: 40vh;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}


.attribution { 
    font-size: 11px; text-align: center;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}